/*
 * ページ全体の基準
 */
* {
	margin: 0px;
}
html {
	height: 100%;
}
body {
	height: 100%;
	background: #bbbbbb;
	font-family: Lato;
	font-size: 13px;
	line-height: 22px;
}
a {
	color: #1e90ff;
	text-decoration: none;
}

/*
 * formの各要素の基礎
 */
input,textarea,select {
	-webkit-appearance: none; /* iOSでもレイアウトを保持 */
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Lato;
	font-size: 13px;
	line-height: 22px;
}
input[type=submit] {
	border-style: none;
}
textarea {
	overflow:hidden; /* スクロールバー非表示 */
}

/*
 * 非表示CheckBox、Radio用
 */
.unshown {
	/* 要素自身を非表示 */
	display:none;
}
.noshadow {
	/* iOSタップ時の影を非表示 */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/*
 * ヘッダーの要素
 */
div.HeaderBase {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: #120A2A;
}
div.BtnBase {
	position: relative;
	float: left;
	width: 50px;
	height: 50px;
}
div.HeaderLogo{
	float: left;
	margin-left: calc(50% - 105px);
	margin-right: calc(50% - 105px);
	padding: 15px 0px;
	width: 110px;
	height: 20px;
	background-color: #120A2A;
	color: #ffffff;
	font-size: 28px;
}
input.BackBtn{
	-webkit-appearance: none; /* iOSでもボタンレイアウトを保持 */
	float: left;
	padding: 0px 10px;
	width: 50px;
	height: 50px;
	background: #120A2A;
	border-style: none;
	border-radius: 0;
	text-align: center;
	color: #ffffff;
	font-size:28px;
}
div.MenuBtn{
	float: left;
	padding: 12px 10px;
	width: 30px;
	height: 26px;
	background-color: #120A2A;
}
hr.HamburgerMark{
	margin: 5px;
	border: 1px #ffffff solid;
	border-radius: 1px;
	width: 18px;
}
.HeaderBtn {
	float: left;
	width: 50px;
	height: 50px;
}

/*メニュー表示時の薄黒カバー*/
.ContentsCover {
	display: none;/*はじめは隠しておく*/
	position: fixed;
/*	z-index: 99;*/
	top: 0;/*全体に広がるように*/
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0;
	transition: .3s ease-in-out;
}
/*メニューの基礎部分*/
.MenuBase {
	overflow: auto;
	position: fixed;
	top: 0px;
	right: 0px;
/*	z-index: 9999;/*最前面に*/
	width: 250px;
	height: 100%;
	background: #eeeeee;
	transition: .3s ease-in-out;/*滑らかに表示*/
	-webkit-transform: translateX(105%);
	transform: translateX(105%);/*左に隠しておく*/
	text-align: center;
}
/*チェックが入ったらもろもろ表示*/
#MenuCheck:checked ~ .ContentsCover {
	display: block;/*カバーを表示*/
	opacity: .5;
}
#MenuCheck:checked ~ .MenuBase {
	-webkit-transform: translateX(0%);
	transform: translateX(0%);/*中身を表示（左へスライド）*/
	box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.5);
}
/*メニュー内に表示するものたち*/
div.MenuHeader{
	overflow:hidden;
	padding:10px 65px;
	width: 120px;
	height: 39px;
	border-bottom: 1px solid #eeeeee;
	background: #463D5D;
}
.MenuIcon{
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 20px;
}
div.MenuUserName{
	float: left;
	padding: 8px 0px;
	width: 80px;
	height: 24px;
	text-align: center;
	font-size: 18px;
	color: #ffffff;
}
.MenuLinkBtn{
	-webkit-appearance: none; /* iOSでもボタンレイアウトを保持 */
	box-sizing: border-box;
	width: 250px;
	height: 50px;
	background: #ffffff;
	border-style: none;
	border-bottom: 1px solid #eeeeee;
	border-radius: 0;
	text-align: center;
	font-size:14px;
}
.LinkLabel {
	margin: 14px 5px 15px 65px;
	width: 120px;
	height: 19px;
}
.LinkBadgeArea {
	margin-top: 15px;
	margin-bottom: 14px;
	width: 20px;
	height: 20px;
}
div.MenuBlank{
	overflow:hidden;
	width: 250px;
	height: 20px;
}
div.MenuMSG{
	padding:15px;
	width: 220px;
	height: 20px;
	font-size: 11px;
}

/*
 * バッヂ
 */
.Badge {
	width: 20px;
	height: 20px;
	background: #ff0000;
	border-radius: 20px;
	text-align: center;
	font-size: 10px;
	color: #ffffff;
}