/*
 * パート選択部分の要素
 */
.PartArea {
	float: left;
	width: -webkit-calc(100% - 70px);
	background: #fafafa;
}
div.part {
	float: left;
	margin: 2px;
	padding: 7px 5px;
	width: 40px;
	height: 21px;
	border-radius: 20px;
	background: #aaaaaa;
	text-align: center;
	font-size: 11px;
	color: #ffffff;
}
.PartCheck:checked ~ div.part{
	background: #1e90ff;
}
