/*
 * DM履歴一覧用
 */
div.Recipient {
	float: left;
	padding: 0px 5px;
	width: -webkit-calc(100% - 155px);
	height: 20px;
	font-size: 12px;
}
div.Outline {
	float: left;
	padding: 0px 5px;
	width: -webkit-calc(100% - 60px);
	height: 20px;
	font-size: 10px;
	color: #555555;
}
.IconArea {
	overflow: hidden;
	float: left;
	padding: 5px 0px;
	width: 30px;
	height: 30px;
}
.BadgeArea {
	overflow: hidden;
	float: right;
	padding: 10px 0px;
	width: 20px;
	height: 20px;
}
.DmHeader {
	text-align: center;
	color: #555555;
}