/*
 * ホーム画面用の要素
 */
.BackBtn {
	display: none;
}
div.Tab {
	width: -webkit-calc(100% / 3 - 2px);
}
font.more {
	font-size:10px;
	color: #1e90ff;
}
.size-S {
	font-size: 12px;
	line-height: 18px;
}
.TblHeadOutline {
	float: left;
	padding: 0px 3px;
	width: -webkit-calc(100% - 6px);
	height: 15px;
	font-size: 10px;
	color: #555555;
}
input[type="submit"].newpage {
/*	padding: 10px;*/
	width: 60px;
	height: 30px;
	background-color: #463D5D;
	border-style: none;
	border-radius: 30px;
	text-align: center;
	color: #ffffff;
}
.NewPostBtn {
	position: fixed;
	right: 5px;
	bottom: 5px;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background: url('/quetana/img/comment.jpg');
	background-size: 100% 100%;
	border-style: none;
}
.TestArea {
	overflow: hidden;
	margin: auto;
	max-width: 175px;
}
.PageMove {
	float: left;
	margin: 0px 2.5px;
	padding: 8px 0px;
	width: 30px;
	height: 40px;
	box-sizing: border-box;
	background-color: #fafafa;
	border-radius: 2px;
	border: 1px solid #dddddd;
	text-align: center;
	font-size: 16px;
	color: #000000;
}
.PageMove.now {
	background-color: #463D5D;
	border-style: none;
	color: #ffffff;
}