/*
 * コンテンツの要素
 */
div#ContentsBase {
	overflow: auto; /* コンテンツの表示を自動に設定（スクロール） */
	width: 100%;
	height: calc(100% - 50px);
	background: #ffffff;
}
div#ContentsMargin {
	width: 100%;
	height: calc((100% - 300px)/2);;
}
div#Contents {
	margin: auto;
	width: 100%;
	height: 300px;
	text-align: center;
}
font#Quetana {
	font-size: 36px;
}
font#ToDo {
	font-size: 16px;
}
input[type=text]{
	-webkit-appearance: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #eeeeee;
	border-radius: 2px;
	background: #f6f6f6;
	font-family: Lato;
	margin: 3px;
	width:230px;
	height:28px;
	font-size:16px; /* 16px未満だとiOSでズームする */
}
div#MsgArea {
	overflow: hidden;
	margin: 5px 0px;
	width: 100%;
	height: 20px;
	text-align: center;
}
font#ErrMsg {
	font-size: 12px;
	color: #ff0000;
}
input#submit_btn {
	-webkit-appearance: none; /* iOSでもボタンレイアウトを保持 */
	margin: 3px 0px 10px;
	width: 230px;
	height: 30px;
	background: #463D5D;
	border-style: none;
	border-radius: 3px;
	font-family: Lato;
	font-size:16px;
	color: #ffffff;
}
