/*
 * ページ全体の基準
 */
html {
	height: 100%;
}
body {
	height: 100%;
}

/*
 * ヘッダーの要素
 */
div#HeaderLogo {
	float: left;
	padding: 5px 15px;
	width: 120px;
	height: 40px;
	background: #120A2A;
	color: #FFFFFF;
	font-size: 28px;
}
div#Header {
	position:fixed;
	width: 100%;
	height: 50px;
	background: #120A2A;
	color: #000000;
}

/*
 * コンテンツの要素
 */
div#ContentsHeader{
	overflow:auto; /* コンテンツの表示を自動に設定（スクロール） */
	width: 100%;
	height: 25%;
	background: #ffffff;
}
div#Contents {
	overflow: auto; /* コンテンツの表示を自動に設定（スクロール） */
	width: 100%;
	height: 75%;
	background: #ffffff;
	text-align: center;
}
font#Quetana {
	font-size: 36px;
}
font#ToDo {
	font-size: 16px;
}
input[type=text]{
	width:226px;
	height:19px;
	margin: 3px;
	font-size:16px; /* 16px未満だとiOSでズームする */
}
div#MsgArea {
	overflow: hidden;
	padding: 10px 0px;
	width: 100%;
	height: 20px;
	background: #ffffff;
	text-align: center;
}
font#ErrMsg {
	font-size: 12px;
	color: #ff0000;
}
input#submit_btn {
	-webkit-appearance: none; /* iOSでもボタンレイアウトを保持 */
	margin-top: 10px;
	margin-bottom: 30px;
	width: 150px;
	height: 35px;
	background: #463D5D;
	border-style: none;
	border-radius: 5px;
	font-family: Lato;
	font-size:16px;
	color: #ffffff;
}
