/*
 * ページ全体の基準
 */
*{
	margin:0;
}
body {
	background: #eeeeee;
	font-family: ;
	font-size:14px;
}
a:link {
	color: #1e90ff;
}
a:visited {
	color: #1e90ff;
}
a:hover {
	color: #1e90ff;
}
a:active {
	color: #fa8072;
}

/*
 * ヘッダーの要素
 */
div#Logo{
	float: left;
	padding: 5px 15px;
	width: 120px;
	height: 40px;
	background-color: #696969;
	color: #FFFFFF;
	font-size: 28px;
}
div#MenuButton{
	float:right;
	padding:5px 15px;
	width:20px;
	height: 40px;
	background-color: #696969;
	color: #FFFFFF;
	font-size:28px;
}
div#LoginUser{
	overflow:hidden;
	float:right;
	margin:5px;
	padding:5px;
	width:100px;
	height: 30px;
	background-color: #fa8072;
	border-style: none;
	border-radius: 5px;
	font-size:11px;
}
div#UserID{
	float:right;
	padding:7px 0px;
	width:70px;
	height:16px;
	background-color: #fa8072;
	text-align: center;
	color: #ffffff;
	font-size:11px;
}
div#Icon{
	float:right;
	width:30px;
	height: 30px;
	background-color: #fa8072;
}
div#Header {
	position:fixed;
	width: 100%;                /* ヘッダーの横幅を指定する */
	height: 50px;               /* ヘッダーの高さを指定する */
	background-color: #696969;  /* ヘッダーの背景色を指定する */
	color: #000000;             /* フォントの色を指定する */
}
div#MenuContents{
	padding:10px 0px;
	width: 250px;
	height: 30px;
	background-color: #fa8072;  /* ヘッダーの背景色を指定する */
	text-align: center;
	color: #000000;
	font-size:18px;
}

/*
 * コンテンツの要素
 */
div#ContentsHeader{
	overflow: auto; /* コンテンツの表示を自動に設定（スクロール） */
	width: 100%;    /* コンテンツの横幅を指定する */
	height: 50px;               /* ヘッダーの高さを指定する */
	background: #eeeeee;
}
div#Contents {
	overflow: auto; /* コンテンツの表示を自動に設定（スクロール） */
	width: 100%;
	align: center;
	background: #ffffff;
	margin: auto;
}

/*
 * タイムラインの要素
 */
div#TimeLine {
	overflow:hidden;
	margin:10px auto;
	padding:3px;
	width: 300px;
	background: #fa8072;
	border-style: none;
	border-radius: 5px;
}
div#TLHeader {
	padding:5px;
	width: 290px;
	height: 30px;
	background: #fa8072;
	font-size: 20px;
	color: #ffffff;
}
div#TLMenu {
	width: 300px;
	height: 30px;
	background: #fa8072;
}
div#TLMenuTab {
	float:left;
	padding:5px;
	width: 90px;
	height: 20px;
	background: #fa8072;
	text-align: center;
	font-size: 14px;
	border-radius: 5px 5px 0px 0px;
	color: #ffffff;
}
div#TLContents {
	padding:3px;
	width: 294px;
	background: #ffa07a;
}
div#TLTable {
	overflow:hidden;
	padding:3px;
	width: 288px;
	background: #696969;
	border-style: none;
	border-radius: 5px;
	font-size: 14px;
	}
div#TLIcon {
	float:left;
	margin:2px;
	width: 56px;
	height: 56px;
	background: #ffffff;
}
div#TLUserName, #TLType {
	float:left;
	margin:2px;
	padding:3px;
	width: 218px;
	height: 20px;
	background: #ffffff;
}
div#TLTitle, #TLComment {
	float:left;
	margin:2px;
	padding:3px;
	width: 278px;
	background: #ffffff;
}