/*
 * チェックボックス等は非表示に
 */
.nav-unshown {
	display:none;
}

/*
 * ハンバーガーメニュー領域
 */
#nav-drawer {
	position: relative;
}
/*閉じる用の薄黒カバー*/
#nav-close {
	display: none;/*はじめは隠しておく*/
	position: fixed;
	z-index: 99;
	top: 0;/*全体に広がるように*/
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0;
	transition: .3s ease-in-out;
}
/*中身*/
#nav-content {
	overflow: auto;
	position: fixed;
	top: 50px;
	right: 0px;
	z-index: 9999;/*最前面に*/
	width: 250px;/*最大幅（調整してください）*/
	height: 200px;
	background: #DDDDDD;/*背景色*/
	transition: .3s ease-in-out;/*滑らかに表示*/
	-webkit-transform: translateX(105%);
	transform: translateX(105%);/*左に隠しておく*/
}
/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
	display: block;/*カバーを表示*/
	opacity: .5;
}
#nav-input:checked ~ #nav-content {
	-webkit-transform: translateX(0%);
	transform: translateX(0%);/*中身を表示（左へスライド）*/
	box-shadow: 6px 0 5px rgba(0,0,10,10);
}
input#menu_btn {
	-webkit-appearance: none; /* iOSでもボタンレイアウトを保持 */
	width: 250px;
	height: 50px;
	background-color: #fa8072;  /* ヘッダーの背景色を指定する */
	border-style: none;
	text-align: center;
	color: #000000;
	font-size:18px;
}