/*
 * プロフィールの要素
 */
div#PFIcon {
	float: left;
	width: 90px;
	height: 90px;
	background: #ffffff;
}
div#PFShort {
	overflow:hidden;
	float:left;
	width: -webkit-calc(100% - 90px);
	height: 30px;
	background: #ffffff;
}
div#PFShortLabel {
	float:left;
	padding:5px 0px 5px 5px;
	width: 60px;
	height: 20px;
	background: #ffffff;
}
div#PFShortVar {
	float:left;
	padding:5px 5px 5px 0px;
	width: -webkit-calc(100% - 70px);
	height: 20px;
	background: #ffffff;
}
div#PFMiddle {
	float:left;
	width: 100%;
	height: 30px;
	background: #ffffff;
}
div#PFMiddleLabel {
	float:left;
	padding:5px 0px 5px 5px;
	width: 115px;
	height: 20px;
	background: #ffffff;
}
div#PFMiddleVar {
	float:left;
	padding:5px 5px 5px 0px;
	width: -webkit-calc(100% - 125px);
	height: 20px;
	background: #ffffff;
}
div#PFLong {
	float:left;
	width: 100%;
	background: #ffffff;
}
div#PFLongLabel {
	float:left;
	padding:5px 5px 0px 5px;
	width: -webkit-calc(100% - 10px);
	background: #ffffff;
}
div#PFLongVar {
	float:left;
	padding:0px 5px 5px 5px;
	width: -webkit-calc(100% - 10px);
	background: #ffffff;
	word-wrap:break-word;
}
div#PFCommentVar {
	float:left;
	padding:5px 5px;
	width: -webkit-calc(100% - 10px);
	background: #ffffff;
	border-top: 1px solid #BDBDBD;
	word-wrap:break-word;
}
div#PFVideoURL {
	float:left;
	padding:5px 5px;
	width: -webkit-calc(100% - 10px);
	background: #ffffff;
	border-top: 1px solid #BDBDBD;
}
div#PFEditBtn {
	position:relative;
	margin: 0px 5px 5px;
	padding: 5px 10px;
	width: 130px;
	height: 20px;
	background: #463D5D;
	border-radius: 5px;
	color: #ffffff;
}
.EditLink a{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	text-indent:-999px;
}
input#LinkBtn {
	-webkit-appearance: none; /* iOSでもボタンレイアウトを保持 */
	margin: 0px 5px 5px;
	padding: 5px 10px;
	width: 150px;
	height: 30px;
	background: #463D5D;
	border-style: none;
	border-radius: 5px;
	font-family: Lato;
	font-size:14px;
	color: #ffffff;
}