/*
 * ページ全体の基準
 */
* {
	margin: 0px;
}
html {
	height: 100%; /* ブラウザ内の余白0 */
}
body {
	height: 100%;
	background: #eeeeee;
	font-family: Hiragino Kaku Gothic ProN;
	font-size:16px;
}
a:link {
	color: #1e90ff;
}
a:visited {
	color: #1e90ff;
}
a:hover {
	color: #1e90ff;
}
a:active {
	color: #fa8072;
}


/*
 * ヘッダーの要素
 */
div#HeaderLogo {
	float: left;
	padding: 5px 15px;
	width: 120px;
	height: 40px;
	background: #696969;
	color: #FFFFFF;
	font-size: 28px;
}
div#Header {
	position:fixed;
	width: 100%;
	height: 50px;
	background: #fa8072;
	color: #000000;
}

/*
 * コンテンツの要素
 */
div#ContentsHeader{
	overflow:auto; /* コンテンツの表示を自動に設定（スクロール） */
	width: 100%;
	height: 30%;
	background: #ffffff;
}
div#Contents {
	overflow: auto; /* コンテンツの表示を自動に設定（スクロール） */
	width: 100%;
	height: 70%;
	background: #ffffff;
	text-align: center;
}
font#Quetana {
	font-size: 36px;
}
font#ToDo {
	font-size: 20px;
}
font#ErrorMsg {
	font-size: 20px;
	color: #ff0000;
}
input[type=text]{
	width:250px;
	height:25px;
	margin: 3px;
	font-size:16px; /* 16px未満だとiOSでズームする */
}
input#submit_btn {
	-webkit-appearance: none; /* iOSでもボタンレイアウトを保持 */
	margin-top: 50px;
	margin-bottom: 30px;
	width: 150px;
	height: 35px;
	background: #fa8072;
	border-style: none;
	border-radius: 5px;
	font-size:16px;
	color: #ffffff;
}